
#imagen {
    margin-top: 20px;
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: block;
}

button {
    margin-top: 15px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: all 0.3s ease;
}


button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}


#fileinput {
    margin-top: 10px;
}
