
.practice-header {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.practice-title-main {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1f2937;
}


.busqueda {
    width: 100%;
    max-width: 400px;
    height: 42px;
    padding: 0 16px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 15px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    margin-bottom: 40px;
}

.busqueda:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}


#animeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

#animeList div {
    background: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

#animeList div:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

#animeList img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

#animeList h3 {
    padding: 15px;
    font-size: 1rem;
    color: #111827;
    min-height: 60px;
}

#animeDetail {
    margin-top: 60px;
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#animeDetail img {
    width: 250px;
    border-radius: 12px;
}

#animeDetail h2 {
    margin-bottom: 15px;
    color: #1f2937;
}

#animeDetail p {
    margin-bottom: 10px;
    color: #4b5563;
    line-height: 1.6;
}

@media(max-width: 768px) {
    #animeDetail {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #animeDetail img {
        width: 200px;
    }
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.paginacion button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #667587;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.paginacion button:hover {
    background-color: #4f5d6b;
}

.paginacion button:disabled {
    background-color: #b0b7c3;
    cursor: not-allowed;
}

#pageNumber {
    font-weight: 600;
    font-size: 15px;
}
