* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.perfil img 
{
    width: 150px;
    border-radius: 50%;
    border: 4px solid #3b82f6;
}

.perfil-info h1 {
    font-size: 2.5rem;
}

.perfil-info p {
    margin-top: 10px;
    color: #94a3b8;
}
  
h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    border-left: 4px solid #5a5d61;
    padding-left: 10px;
}

        
.repos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 25px;
    margin-bottom: 60px;
}

.repo-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s ease;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.repo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.repo-card h3 {
    margin-bottom: 10px;
}

.repo-card p {
    color: #919ba9;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.repo-card h3 {
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.repo-card {
    min-height: 180px;
}


.repo-card a {
    text-decoration: none;
    color: #5a5d61;
    font-weight: 600;
}

.followers {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.followers img {
    width: 60px;
    border-radius: 50%;
    transition: 0.3s;
    border: 2px solid transparent;
}

.followers img:hover {
    transform: scale(1.1);
    border: 2px solid #3b82f6;
}

       
@media(max-width: 768px) 
{
    .perfil 
    {
        flex-direction: column;
        text-align: center;
    }
}